# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\POLITEHNICA ANUL 2\Programare orientata pe obiecte\Chess\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
